/**** ASSETS ****/

	@import url(http://fonts.googleapis.com/css?family=Balthazar);
	@import url(http://fonts.googleapis.com/css?family=Lora);

	@font-face {font-family: Brandon; src: url('');}


/**** PAGE ****/
	html {
		background: #b63736;
		/**background-image: url('http://freqn.aws.af.cm/images/star1.png');*/
	}
	.wrapper {
		padding: 0;
	}
	header h2 {
		color: #fff2cb;
		margin: 0 auto;
		text-align: center;
	}
	section {display:inline -block}
	footer a {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	#copyright p {
		margin: 0 auto;
    text-align: center;
		max-width: 80%;
		font-size: 24px;
  }
	.fa-info {
		color: #7c0000;
	}

/*================ RESPONSIVE ===================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.wrapper {
		margin: 6% auto;
	}
	input {
		display: block;
		margin: 15px auto;
    min-width: 75%;
    max-width: 75%;
		height: 40px;
		font-size: 24px;
		border: none;
		border-radius: 5px;
		color: #223333;
		text-align: center;
		background: #fff2cb;
		}
	.result {
		min-width: 75%;
    max-width: 75%;
		height: 40px;
		margin: 15px auto;
		font-size: 24px;
		border-radius: 5px;
		background: #FFA500;
	}
	.result:first-child{
		margin-top: 30px;
	}
	.result div:nth-child(2){
		border-radius: 0 5px 5px 0;
	}
	.label {
		float:left;
		width: 45%;
		background: #223333;
		height: 100%;
		padding: 0;
		color: #fff2cb;
		border-radius: 5px 0 0 5px;
	}
	.label p, .value p {
		clear:both;
		text-align: center;
		margin-top: 5px;
	}
	.value {
		float: right;
		width: 55%;
		height: 100%;
	}
	.value p {
		color: #223333;
	}
	.reveal {
		display: none;
		margin: 30px auto;
		width: 80%;
		height: 40px;
		font-size: 24px;
		border: none;
		border-radius: 5px;
		color: #343434;
		text-align: center;
	}
  #shipped {
    display: none;
  }

}

@media only screen and (min-height : 667px){
	.wrapper {
		margin: 8% auto;
	}
	input {
		height: 50px;
    min-width: 75px;
    max-width: 75px;
		font-size: 25px;
    margin: 15px auto;
	}
	.result {
		height: 50px;
    min-width: 75px;
    max-width: 75px;
		font-size: 25px;
    margin: 15px auto;
	}
	.label p, .value p {
		margin-top: 9px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.wrapper {
		margin: 8% auto;
	}
	input {
		height: 60px;
		width: 349px;
		font-size: 30px;
	}
	.result {
		height: 60px;
		width: 349px;
		font-size: 30px;
	}
	.label p, .value p {
		margin-top: 12px;
	}
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.wrapper {
		margin: 4% auto;
	}
	input {
		height: 65px;
		font-size: 30px;
	}
	.result {
		height: 65px;
		font-size: 30px;
	}
	.label p, .value p {
		margin-top: 12px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
Status API Training Shop Blog About
© 2015 GitHub, Inc. Terms Privacy Security Contact
freqn / platter
master
 css
 font-awesome.min.css
 ie8.css
 mobile.css
 normalize.css
 style.css
 fonts
 js
 README.md
 index.html
